@media screen and (max-width: 992px) {
	.about-img {
		width: 100%;
	}
	.flex-item-right,
	.flex-item-left {
		flex: 100%;
	}
	.flex-container {
		flex-wrap: wrap;
	}
	.map-size {
		width: 100%;
		object-fit: fill;
		margin-right: auto;
		margin-left: auto;
		display: block;
	}
	.flex-container-contact {
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 800px) {
	h1 {
		margin: 35px 0 0 0;
	}
	.flex-item-right,
	.flex-item-left {
		flex: 100%;
	}
	.flex-container {
		flex-wrap: wrap;
	}
	.map-size {
		margin-right: auto;
		margin-left: auto;
		display: block;
	}
	.flex-container-contact {
		flex-wrap: wrap;
		margin-top: 30px;
	}
}

@media screen and (max-width: 600px) {
	.topnav a {
		display: none;
	}
	.topnav a.icon {
		float: right;
		display: block;
	}
	.topnav.responsive {
		position: relative;
	}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
	.right-menu {
		float: left;
		display: contents;
	}
	.mt-xs-15 {
		margin-top: 12%;
	}
	.about-img {
		width: 100%;
	}
	.flex-container p {
		font-size: 15px;
	}
	.map-size {
		width: 500px;
		height: 450px;
	}
}

@media screen and (max-width: 480px) {
	.mt-xs-15 {
		margin-top: 15%;
	}
	h1 {
		margin: 35px 0 0 0;
	}
	.about-img {
		width: 100%;
	}
	.flex-container p {
		font-size: 14px;
	}
	.map-size {
		width: 400px;
		height: 350px;
	}
	.flex-container-contact {
		margin-top: 30px;
	}
}